body{
    margin: 0;
    background: #CBD7DF;
}

html,body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    font-family: Montserrat;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
    color:#000;
 }

 

button::-moz-focus-inner{padding:0;border:0;}
a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
}

a {
    color: #FFF;
}

hr{
    margin: 0 auto;
    width: 1920px;
    max-width: 100%;
    top: 120px;
    border: 1px solid #17181B;
 }

.logout{
    font-size: 10px;
    letter-spacing: 10%;
    width: 85px;
    height: 37px;
    background: #17181B;
    border-radius: 5px;
    font-family: inherit;
    box-sizing: border-box;
    color: #ffffff;
    border: 0;
 }
 .logout:hover{
    opacity: 0.5;
 }

.shell{
    padding-top:23.5px;
    padding-bottom: 23.5px;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .header__inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
 }
 .header__menu .nav{
    width: 100%;
    max-width: 588px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .header__menu .ssilka{
    padding: 17px 25px 17px 25px;
 }
 .ssilka{
    font-size: 13px;
    line-height: 17.55px;
    letter-spacing: 4%;
    font-weight: 400px;
    color: #17181B;
 }
 .ssilka:hover{
    opacity: 0.8;
 }

.header button {
    float: right;
    border: 0px;
    width: 85px;
    height: 37px;
    padding: 10px 18px;
    border-radius: 5px;
    background: #17181B;
    color: #FFF;
    text-align: right;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin-right: 448px;
    margin-top: 18.5px;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.attendance {
    margin-top: 67px;
    text-align: center;
}

.attendance h1 {
    color: #17181B;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 143%;
    text-transform: uppercase;
    margin: 0;
}

.month_choise {
    display: inline-block;
    text-align: center;
    margin: 25px 0;
}

.month_choise select {
    width: 490px;
    height: 66px;
    border-radius: 2px;
    border: 1px solid #17181B;
    color: #17181B;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-right: 20px;
}

.month_choise option {
    height: 60px;
    color:#17181B;
    border: 1px solid #17181B;
    padding: 10px 40px;
    border-radius: 2px;
    background-color: #CBD7DF;
}

select {
    background: #CBD7DF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.choise {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 152%;
    border-radius: 4px;
    background: #C40202;
    border: 0px solid;
    padding: 19px 0px;
    width: 490px;
    height: 66px;
}

.attendance table {
    margin: auto;
    color: #17181B;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    text-align: center;
    border-collapse: collapse;
}

td {
    width: 62px;
}

td {
    height: 36px;
    border-bottom: 1px solid black;
}

input {
    width: 20px;
    height: 20px;
    color:#17181B;
    border: 1px solid #17181B;
    border-radius: 2px;
    background-color: #CBD7DF;
}

.apply {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 152%;
    border-radius: 4px;
    border: 0;
    width: 490px;
    height: 66px;
    margin-top: 25px;
    background: #17181B;
}